 body,
 dl,
 dd,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 div,
 form {
 	margin: 0;
 }
 
 body {
 	margin: 0 auto;
 	width: 1600px;
 }
 
 ul li {
 	list-style: none;
 }
 /***********头部***************/
 
 header {
 	position: relative;
 	height: 990px;
 	background: url(images/head_bg.png) no-repeat;
 }
 
 .head_con {
 	position: absolute;
 	left: 312px;
 	top: 200px;
 	width: 970px;
 	height: 600px;
 	text-align: center;
 }
 
 .head_con h1 {
 	color: #fff;
 	font-size: 60px;
 }
 
 .head_con p {
 	color: #bdb9b2;
 	font-size: 20px;
 	margin: 60px 0 0 100px;
 	line-height: 40px;
 	width: 770px;
 }
 
 #register_form {
 	margin-top: 90px;
 	border: 1px solid #6b655e;
 	height: 250px;
 }
 
 #register_form h3 {
 	font-size: 20px;
 	color: #fff;
 	line-height: 40px;
 	margin-top: 40px;
 }
 #register_form h5{
 	color: #bdb9b2;
 	line-height: 30px;
 	font-size: 14px;
 	margin-bottom: 30px;
 }
 #register_form input{
 	background-color: transparent;
 	border: 1px solid #6b655e;
 	width: 290px;
 	height: 50px;
 	margin-left: 34px;
 	color: #fff;
 }
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff; opacity:1; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;opacity:1;
}

input:-ms-input-placeholder{
    color: #fff;opacity:1;
}

input::-webkit-input-placeholder{
    color: #fff;opacity:1;
}
#register_form span{
	display: inline-block;
	width: 130px;
	height: 50px;
	background: #fff;
	margin-left: 30px;
	line-height: 50px;
	text-align: center;
	font-size: 12px;
	border-radius: 5px;
}
 /***********介绍***************/
 
 .boatloads {
 	height: 620px;
 	text-align: center;
 	color: #6c6c6c;
 	padding-top: 90px;
 }
 .boatloads h5{
 	font-size: 16px;
 	text-transform:uppercase;
 	line-height: 30px;
}
 .boatloads h3{
 	font-size: 36px;
 	width: 668px;
 	margin-left: 470px;
 }
 .boatloads ul{
 	margin: 0 0 0 230px;
 }
 .boatloads ul li{
 	width: 480px;
 	height: 110px;
 	float: left;
 	text-align: left;
 	margin-top: 60px;
 }
 .boatloads ul li:nth-of-type(even){
 	margin-left: 120px;
  }

 .boatloads ul li span{
 	color: #141414;
 	font-size: 20px;
 	display: block;
 	margin-top: 10px;
 }
 .boatloads ul li p{
 	font-size: 16px;
 	line-height: 20px;
 	color: #c3c3c3;
 	margin: 12px 0 0 73px;
 	width: 373px;
 }
  .boatloads ul li img{
  	float: left;
  }
 /***********服务***************/
 
 .call_action {
 	height: 800px;
 	background: url(images/call_bg.png) no-repeat;
 	position: relative;
 }
 .call_left{
 	position: absolute;
 	top: 180px;
 	left: 210px;
 }
 .call_left p,.call_left h3{
 	width: 375px;
 }
 .call_left h3{
	color: #fff;
	font-size: 36px;	
 }
.call_left p{
	color: #b0b2b1;
	font-size: 18px;
	margin-top: 40px;
	line-height: 30px;
}
.call_button{
	display: inline-block;
	width: 240px;
	height: 60px;
	border: 1px solid #6f756c;
	margin-top: 50px;
	line-height: 60px;
	color: #fff;
	text-align: center;
}
.call_left a:hover{
	background: #fff;
	color: #000000;
}
.call_action img{
	position: absolute;
	right: 0;
	top: 100px;
}
 /***********产品***************/
 
 .product {
 	height: 1580px;
 	text-align: center;
 }
 .product h3{
 	font-size: 42px;
 	line-height: 50px;
 	padding-top: 100px;
 }
 .product ul{
 	margin: 90px 0 190px 0;
 }
 .product ul li{
 	display: inline-block;
 	width: 280px;
 	height: 280px;
 	color: #b3b3b3;
 }
 .product ul li:nth-child(2),.product ul li:nth-child(3){
 	margin-left: 80px;
 }
.product ul li p{
	margin-top: 30px;
	line-height: 30px;
	text-align: center;
}
.product_arc{
	padding-left: 310px;
}
.img_left{
	float: left;
}
.img_arc{
	width: 460px;
	float: left;
	padding: 70px 0 0 100px;
	margin-bottom: 80px;
}
.img_arc h5{
	width: 280px;
	line-height: 40px;
	font-size: 20px;
	text-align: left;
}
.img_arc p{
	line-height: 30px;
	color: #a0a0a0;
	text-align: left;
	width: 315px;
}

 /**********团队成员***************/
 
 .team {
 	height: 1084px;
 }
 /***********联系我们***************/
 
 .contact {
 	height: 700px; 
 }
 
 footer {
 	height: 410px;
 	background-color: #141414;
 }